@font-face {
    font-family: "handwriting2022";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/handwriting2022/handwriting2022.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/handwriting2022/handwriting2022.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2022/handwriting2022.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2022/handwriting2022.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2022/handwriting2022.ttf") format("truetype");
    font-display: swap;
}
.handwriting2022 {
    font-family: "handwriting2022";
}